PORT=8000
TOKEN=testtoken
MAXPORT=
MINPORT=
VALIDITY=3m
FLAGPREFIX=TSC
FLAGMSG=testflag
PREFIX=29
SUBNETPOOL=10.200.0.0/16
CHALDIR=
BASESCHEME=
BASEHOST=
MODE0=Proxy
#MODE0=Forward
#MODE0=Command
#COMMAND0=nc {{ .BaseHost }} {{ .Port }}
